@charset "UTF-8";

@font-face{
    font-family: 'textoproduto';
    src: url(../fonts/CursiveSans-Bold.ttf);
}
@font-face {
    font-family: 'titulos';
    src: url(../font/comfortaa/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: 'textos';
    src: url(../font/creato_display/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: 'textos';
    src: url(../fonts/HangingRegular.ttf);
}

@font-face {
    font-family: 'titulo_descricao';
    src: url(../fonts/Magic-Retro.ttf);
}

/* INÍCIO FONTE DO MENU */
@font-face {
    font-family: 'menu';
    src: local(menu),url();
}
/* FIM FONTE DO MENU */

/* ini: Preloader */
  #preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: var(--cor-backgroud); /* cor do background que vai ocupar o body */
    z-index:9999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
/* end: Preloader */



:root {
    --cor-backgroud: #f8f9fa;
    --cor-branca: #fff;
    --cor-cinza: #f5f5f5;
    --cor-cinza-escuro: #a0a0a0;
    --cor-grafite: #666464;
    --cor-preto: #000;
    --cor-azul-escuro: #0077ff;
    --cor-azul-escuro-opc: #0077ff9c;
    --cor-azul: #6aadfa; 
    --cor-azul-claro: #a7e2fd;
}

/* ########################### COMEÇO GERAL ########################### */
.fundofixo{
    background: url('../images/fundo/mangaratiba.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    /* padding-top: 88px; */
}

.body-geral {
    padding-top: 3.9em !important;
}
/* ########################### FIM GERAL ############################## */




/* ########################### COMEÇO HEADER ########################### */
/* Começo hover do menu */
.menu ul li .hover-line::after {
    content: " ";
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: var(--cor-azul-escuro);
    margin: 3px auto auto;
    display: block;
    transition: 0.3s;
}

.menu ul li .hover-line:hover::after {
    width: 90%;
}

.fonte{
    font-family: "menu";
}

#icones ul li a i {
    color: var(--cor-preto);
    transition: 0.2s ease all;
}

#icones ul li a i:hover {
    color: var(--cor-azul-escuro);
}
/* Fim hover do menu */
/* ########################### FIM HEADER ############################## */




/* ########################### COMEÇO LOGIN ############################ */
/* Body login */
.body-login {
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 32px;
    animation: rotate 6s infinite alternate linear;
    background: url('../images/fundo/loginwall.png') no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Icon para voltar */
.icon-voltar {
    background-color: var(--cor-branca);
    padding: 10px 15px;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 999;
    text-decoration: none;
    color: var(--cor-preto);
}

/* Circulo no fundo */
.circulo {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #ffcf00;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    -moz-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
}

.circulo::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #1f65da;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    -moz-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
}

/* Começo card login */
.card-login {
    overflow: hidden;
    position: relative;
    z-index: 3;
    margin: 0 20px;
    padding: 160px 30px 38px;
    border-radius: 1.25rem;
    background: var(--cor-branca);
    text-align: center;
    box-shadow: 0 100% 100% rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    -moz-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
}

.card-login::before {
    content: "";
    position: absolute;
    background: var(--cor-azul);
    top: -880px;
    left: 50%;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    translate: -50% 0;
}

.card-login .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--cor-branca);
    height: 94px;
    width: 94px;
    top: 10px;
    left: 50%;
    translate: -50% 0;
}

.card-login > h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 30px;
    color: var(--cor-preto);
}

/* Começo formulario */
.form-login {
    margin: 0 0 30px;
    display: grid;
    gap: 18px;
}

.form-login .form-item {
    position: relative;
}

.form-login .form-item label {
    position: absolute;
    left: 20px;
    top: 15px;
    color: var(--cor-grafite);
    transition: linear 0.2s;
    cursor: text;
}

.form-login .form-item > input , .form-login > button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.form-login .form-item > input {
    border: 2px solid #e0e0e0;
    font-family: inherit;
    font-size: 16px;
    padding: 28px 24px 10px 24px;
    color: var(--cor-preto);
    transition: all 0.375s;
}

.form-login .form-item > input:hover {
    border: 2px solid var(--cor-azul-escuro);
}

.form-login .form-item > input::placeholder {
    color: var(--cor-cinza-escuro);
}

.form-login > button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background: var(--cor-azul);
    color: var(--cor-branca);
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.form-login > button:hover {
    columns: var(--cor-branca);
    background: var(--cor-azul-escuro);
}
/* Fim formulario */

.card-login > #footer-login {
    color: var(--cor-grafite);
}

.ancora-login {
    color: var(--cor-azul-escuro);
    transition: all 0.375s;
    text-decoration: none;
}

.ancora-login:hover {
    color: var(--cor-azul);
}
/* Fim card login */
/* ########################### FIM LOGIN ############################ */




/* ########################### COMEÇO FOOTER ########################### */
.flex{
    display: flex;
}

.flex-sa{
    display: flex;
    justify-content: space-around;
}

.flex-end{
    display: flex;
    justify-content: end;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.cor_footer{
    background-color: #e2e1e1;
}

.w15{
    width: 15%;
}

.w25{
    width: 25%;
}

.w30{
    width: 30%;
}

.w30text{
    width: 30%;
}

.w33{
    width: 33%;
}

.w45{
    width: 45%;
}

.w100{
    width: 100%;
}

.texto_footer{
    font-size: 30px;
    font-weight: bold;
}

.text_fp{
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
    white-space: nowrap;
    margin: 10px 0 0 0;
}

.logo_div{
    width: 100px;
}

#telefone span{
    white-space: nowrap;
}

.input_oferta{
    width: 75%;
    height: 50px;
}

.botao_form{
    width: 130px;
    height: 50px;
}

.map_text{
    font-weight: bold;
    white-space: nowrap;
}

.map_linha{
    border: 2px solid #002fff;
    width: 100px;
    margin: 0 auto;
}

.map_link{
    text-decoration: none;
    font-weight: bold;
    color: #407ff5;
}

.map_contato{
    width: 150px;
    font-weight: bold;
    color: #407ff5;
}

.map_link:hover{
    color: #a6a19f;
}

.logo_footer{
    margin-top: 35px;
    width: 80%;
}

.img_pag{
    max-width: 42px;
    margin: 10px 10px;
}


/* Botão Redes Sociais */

.redes {
    color: white;
    background-color: rgb(151, 224, 247);
    padding: 20px;
    font-size: 20px;
    border: 1px solid rgb(151, 224, 247);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline;
    position: fixed;
    bottom: 20px;
    left: 0px;
}
  
.dropdownn{
    position: relative;
    display: inline-block;
}

.img_redes{
    margin-left: 10px;
    margin-right: 10px;
}
  
.drop_link {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 55px;
    padding: 1px;
    background-color: #fff;
    box-shadow: 11px 12px 14px -9px rgba(0,0,0,0.75);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -999;
    transition: all 5s ease;  
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
.drop_link a {
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.dropdownn:hover .drop_link {
    display: flex;
    opacity: 1;
    z-index: 999;
}

.redes:hover{
    border-radius: 0;
}

/* ########################### FIM FOOTER ############################## */




/* ########################   COMEÇO SCROLL   ############################ */

.quadradinhodasetinha{
    position: fixed;
    background-color: #2aaefa;
    color: azure;
    width: 60px;
    height: 60px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    top: 90%;
    left: 95%;
    align-items: center;
    transition: 0.2s ease-in;
    z-index: 999;
 
 }
 .quadradinhodasetinha:hover{
    position: fixed;
    background-color: #1b7cfa;
    color: azure;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    top: 90%;
    left: 95%;
    align-items: center;
    transition: 0.2s ease-in;
    z-index: 999;
 
 }
/* ###########################  FIM SCROLL    ############################ */




/* ########################### COMEÇO INDEX ############################## */

/* ########################### FIM INDEX ############################## */




/* ###########################  COMEÇO PRODUTOS ########################## */
.PARTIÇÃO{
    display: flex;
    justify-content: space-around;
}
.centraliza_q1{
    display: flex;
    justify-content:space-around;
}   
.icones{
    list-style: none;
    text-decoration: none;
    margin: 50px 55px -35px 55px;
}
.fonte_p{
font-family:'textoproduto';

}

.icones li{
    display: inline-block;
    text-decoration: none;
    margin: 30px;
}

.button {
    appearance: button;
    background-color: #1a01f8;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 14px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .4s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
   }
   
   .button:after {
    background-clip: padding-box;
    background-color:var(--cor-azul-escuro);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
   }
   
   .button:main, button:focus {
    user-select: auto;
   }
   
   .button:hover:not(:disabled) {
    filter: brightness(1.1);
   }
   
   .button:disabled {
    cursor: auto;
   }
   
   .button:active:after {
    border-width: 0 0 0px;
   }
   
   .button:active {
    padding-bottom: 10px;
   }
   
 
/* ###########################  FIM PRODUTOS ########################## */



/* ########################### COMEÇO DETALHES ############################ */

#img_principal{
    width: 50%;
    display: flex;
    justify-content: center;
    
}

#img_principal img{
    width: 90%;
    border-radius: 20px;
}

.text-detail {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-detail p{
    font-size: 35px;
    margin-top: 50px;
}

.linha_del{
    border: 1px solid black;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.desc_del{
    width: 90%;
    margin: 0 auto;
}

#titulo{
    margin: 0;
    font-family: "titulo_descricao";
    font-size: 40pt;
}

.preco{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    letter-spacing: -2.4px;
    word-spacing: -2.4px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

#reservar{
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Impact, fantasy';
}

#esconder_imgs{
    display: none;
}

.sub-imgs{
    display: flex;
    justify-content: center;
    width: 50%;
}

.imagem-pequena{
    width: 120px;
    height: 100px;
    cursor: pointer;
    margin: 15px 10px;
    border: 1px solid rgb(0, 173, 253);
    border-radius: 20px;
}

.imagem-grande{
    width: 100%;
    height: 90%;
    box-shadow: -1px 0px 10px 1px rgba(0,0,0,0.75);
}

#datas_modal input[type="date"]{
    background-color: #85b7e9;
    padding: 15px;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
}
#datas_modal ::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

#reserva-pessoas input[type="number"]{
    background-color: #ffffff;
    padding: 5px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 15px;
    width: 50%;
}

.btn-pessoas{
    width: 70%;
    padding: 10px;
    background-color: #85b7e9;
    color: white;
    border: none;
    margin: auto;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn-pessoas:hover{
    background-color: #1855fd;
    border-radius: 30px;
}

.img-destaque{
    width: 230px;
    height: 150px;
}
  
#titulo_semelhante{
    width: 90%;
    margin: 0 auto;
}

.card_detalhe{
    --bg: #ffffff;
    --hover-bg: #7bbbf7;
    --hover-text: #E50087;
    max-width: 30ch;
    text-align: center;
    background: var(--bg);
    padding: 1.5em;
    padding-block: 0.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 20px 15px;
    box-shadow: -1px 2px 19px 0px rgba(5,0,5,1);
}

  
.card__body {
    color: #464853;
    line-height: 1.5em;
    font-size: 1em;
}
  
.card_detalhe > :not(span) {
    transition: .3s cubic-bezier(.6,.4,0,1);
}
  
.card_detalhe > strong {
    display: block;
    font-size: 1.4rem;
    letter-spacing: -.035em;
}
  
.card_detalhe span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
}

.card_detalhe a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.card_detalhe a:hover{
    color:#7bbbf7;
    border: 1px solid #7bbbf7;
    border-radius: 100%;
    background-color: white;
    padding: 15px;
    transition: 0.2s all ease;
}
  
.card_detalhe:hover span {
    top: 0;
    font-size: 1.2em;
}
  
.card_detalhe:hover {
    background: var(--hover-bg);
}
  
.card_detalhe:hover>div,.card_detalhe:hover>strong {
    opacity: 0;
}
/* ########################### FIM DETALHES ############################## */



/* ########################### COMEÇO HEADER AREA CLIENTE ################ */
ul {
    padding: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon { 
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: var(--cor-branca);
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: var(--cor-branca);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: var(--cor-branca);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: var(--cor-branca);
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: var(--cor-branca);
}

.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: var(--cor-branca);
}

.sidebar .bx-search:hover {
    background: var(--cor-branca);
    color: #11101d;
}

.sidebar li .link {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
}

.sidebar li .link:hover {
    background: var(--cor-branca);
}

.sidebar li .link .links_name {
    color: var(--cor-branca);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li .link .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li .link:hover .links_name,
.sidebar li .link:hover i {
    transition: all 0.2s ease;
    color: #11101D;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details { 
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: var(--cor-branca);
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.home-section {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    color: var(--cor-branca);
    font-size: 25px;
    font-weight: 400;
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}
/* ########################### FIM HEADER AREA CLIENTE ################ */




/* ########################### COMEÇO GERAL CLIENTE ################ */
/* Icones e span dos cards */
.card-icon {
    position: absolute;
    top: -10px;
    right: -65px;
    font-size: 190px;
    overflow: hidden;
    opacity: 0.3;
}

.card-link i {
    transition: all ease 0.4s;

}

.card-link span {
    transition: all ease 0.4s;

}

.card-link:hover i {
    transform: scale(1.4);
}

.card-link:hover span {
    transform: scale(1.1);
}

/* Texto dos cards */
.card-texts {
    color: var(--cor-branca);
    opacity: 0.9 !important;
}
/* ########################### FIM GERAL CLIENTE ################ */




/* ########################### COMEÇO CONFIGURAÇÕES CLIENTE ################ */
.linha-vertical {
    height: 320px;
    border-left: 2px solid;
    opacity: 0.2;
}
/* ########################### FIM CONFIGURAÇÕES CLIENTE ################ */




/* ########################### COMEÇO RESPONSIVO ################ */
/*Começo footer*/
@media screen and (max-width: 1200px){
    #form_oferta .flex{
        display: inline;
    }
    
    .flex-end{
        width: 100%;
        justify-content: center;
    }
    
    .input_oferta{
        width: 100%;
    }
    
    .w30{
        width: 90%;
        margin: 10px auto;
    }
    
    .w15{
        margin-top: 25px;
        width: 100%;
    }
    }
    
    @media screen and (max-width: 1000px){
        .flex-sa article{
            display: inline;
        }
    
        .logo_div{
            display: none;
        }
    }
    /*Fim footer*/

    /* Começo Detalhes */
    @media screen and (max-width: 1300px){
        #titulo{
            font-size: 35px;
        }    
    }

    @media screen and (max-width: 1200px){
        .imagem-pequena{
            width: 18%;
            height: 80px;
        }
    }

    @media screen and (max-width: 900px){
        #geral_del{
            display: inline;
        }

        #img_principal{
            margin: 125px auto 60px auto;
        }

        .imagem-grande{
            width: 150% !important;
        }

        #reservar{
            margin: 50px 0;
        }

        .text-detail{
            width: 70%;
        }

        #esconder_imgs{
            display: flex;
            flex-wrap: wrap;
            margin: 25px auto;
            width: 90%;
        }

        .imagem-pequena{
            width: 100px;
            height: 100px;
        }

        #sub-normal{
            display: none;
        }

        .text-detail{
            margin: 0 auto;
        }


    }
    /* Fim Detalhes */

    /*Começo login*/
    @media (width >=500px){
        .body-login{
            padding: 0;
        }
        .card-login{
            margin: 0;
            width: 360px;
        }
    }
    /*Fim login*/
    /* ########################### FIM RESPONSIVO ###################*/