@charset "UTF-8";

@font-face {
    font-family: 'titulos';
    src: url(../font/comfortaa/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: 'textos';
    src: url(../font/creato_display/CreatoDisplay-Regular.otf);
}

/* INÍCIO FONTE DO MENU */
@font-face {
    font-family: 'menu';
    src: local(menu),url();
}
/* FIM FONTE DO MENU */

:root {
    --cor-branca: #fff;
    --cor-cinza: #f5f5f5;
    --cor-cinza-escuro: #a0a0a0;
    --cor-grafite: #666464;
    --cor-preto: #000;
    --cor-azul-escuro: #0077ff;
    --cor-azul-escuro-opc: #0077ff9c;
    --cor-azul: #6aadfa; 
    --cor-azul-claro: #a7e2fd;
}

/* ########################### COMEÇO GERAL ########################### */
.fundofixo{
    background: url('../images/fundo/mangaratiba.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    /* padding-top: 88px; */
}

body {
    padding-top: 3.5em;
}

/* ########################### FIM GERAL ############################## */




/* ########################### COMEÇO HEADER ########################### */
/* Começo hover do menu */
.menu ul li .hover-line::after {
    content: " ";
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: var(--cor-azul-escuro);
    margin: 3px auto auto;
    display: block;
    transition: 0.3s;
}

.menu ul li .hover-line:hover::after {
    width: 90%;
}

.fonte{
    font-family: "menu";
}
/* Fim hover do menu */
/* ########################### FIM HEADER ############################## */




/* ########################### COMEÇO FOOTER ########################### */
.flex{
    display: flex;
}

.flex-sa{
    display: flex;
    justify-content: space-around;
}

.flex-end{
    display: flex;
    justify-content: end;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.cor_footer{
    background-color: #e2e1e1;
}

.w15{
    width: 15%;
}

.w25{
    width: 25%;
}

.w30{
    width: 30%;
}

.w33{
    width: 33%;
}

.texto_footer{
    font-size: 30px;
    font-weight: bold;
}

.text_fp{
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
    white-space: nowrap;
}

.input_oferta{
    width: 75%;
    height: 50px;
}

.botao_form{
    width: 130px;
    height: 50px;
}

.map_link{
    text-decoration: none;
    font-weight: bold;

    color: #0077ff;
}

.map_link:hover{
    color: #a6a19f;
}

.logo_footer{
    width: 20%;
}

/* ########################### FIM FOOTER ############################## */

/* ########################### COMEÇO RESPONSIVO FOOTER ################*/

@media screen and (max-width: 1300px) {

.logo_footer{
    width: 150px;
}

.flex-between{
    flex-wrap: wrap;
}

.w33{
    width: 50%;
}
}


@media screen and (max-width: 1100px){
#form_oferta .flex{
    display: inline;
}

.flex-end{
    width: 100%;
    justify-content: center;
}

.input_oferta{
    width: 100%;
}

.w30{
    width: 90%;
    margin: 10px auto;
}

.w15{
    margin-top: 25px;
    width: 100%;
}
}

/* ########################### FIM RESPONSIVO FOOTER ###################*/

/* ########################### COMEÇO INDEX ############################## */


/* ########################### FIM INDEX ############################## */