@charset "UTF-8";

@font-face{
    font-family: 'textoproduto';
    src: url(../fonts/CursiveSans-Bold.ttf);
}
@font-face {
    font-family: 'titulos';
    src: url(../font/comfortaa/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: 'textos';
    src: url(../font/creato_display/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: 'textos';
    src: url(../fonts/HangingRegular.ttf);
}

@font-face {
    font-family: 'titulo_descricao';
    src: url(../fonts/Magic-Retro.ttf);
}

/* INÍCIO FONTE DO MENU */
@font-face {
    font-family: 'menu';
    src: local(menu),url();
}
/* FIM FONTE DO MENU */

/* ini: Preloader */
  #preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: var(--cor-backgroud); /* cor do background que vai ocupar o body */
    z-index:9999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
/* end: Preloader */


:root {
    --cor-backgroud: #f8f9fa;
    --cor-branca: #fff;
    --cor-cinza: #f5f5f5;
    --cor-cinza-escuro: #a0a0a0;
    --cor-grafite: #666464;
    --cor-preto: #000;
    --cor-azul-escuro: #0077ff;
    --cor-azul-escuro-opc: #0077ff9c;
    --cor-azul-ant: #6aadfa; 
    --cor-azul-claro-ant: #a7e2fd;

    /* Paleta de cores */
    --cor-marrom: #AB8863;
    --cor-marrom-claro: #A1876B;
    --cor-marrom-mais-claro: #968672;
    --cor-marrom-menos-azulado: #818481;
    --cor-marrom-azulado: #6C8290;
    --cor-marrom-mais-azulado: #577F9E;
    --cor-azul-claro: #427DAD; 
    --cor-azul: #2d7abb;
    --cor-azul-bootstrap: #0275D8;
}

/* ########################### COMEÇO GERAL ########################### */
.fundofixo{
    background: url(../images/login.jpg) no-repeat fixed ;
    -webkit-background-size: cover;
    background-size: cover;
    /* padding-top: 88px; */
}

.body-geral {
    padding-top: 3.9em !important;
}
/* ########################### FIM GERAL ############################## */




/* ########################### COMEÇO HEADER ########################### */
/* Começo hover do menu */
.menu ul li .hover-line::after {
    content: " ";
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: var(--cor-azul-escuro);
    margin: 3px auto auto;
    display: block;
    transition: 0.3s;
}

.menu ul li .hover-line:hover::after {
    width: 90%;
}

.fonte{
    font-family: "menu";
}

#icones ul li a i {
    color: var(--cor-preto);
    transition: 0.2s ease all;
}

#icones ul li a i:hover {
    color: var(--cor-azul-escuro);
}
/* Fim hover do menu */
/* ########################### FIM HEADER ############################## */




/* ########################### COMEÇO LOGIN ############################ */
/* Body login */
.body-login {
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 32px;
    animation: rotate 6s infinite alternate linear;
    background: url('../images/fundo/loginwall.png') no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.body-login-cadastro {
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 32px;
    animation: rotate 6s infinite alternate linear;
    background: url('../images/fundo/loginCadastro.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Icon para voltar */
.icon-voltar {
    background-color: var(--cor-branca);
    padding: 10px 15px;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 999;
    text-decoration: none;
    color: var(--cor-preto);
}

.icon-voltar-cadastro {
    background-color: var(--cor-branca);
    padding: 10px 15px;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 999;
    text-decoration: none;
    color: var(--cor-preto);
}

/* Circulo no fundo */
.circulo {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #1f65da;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    -moz-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
}

.circulo-cadastro {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #ffcf00;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    -moz-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
}

.circulo::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #ffcf00;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    -moz-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
}

.circulo-cadastro::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #1f65da;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    -moz-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
}

/* Começo card login */
.card-login {
    overflow: hidden;
    position: relative;
    z-index: 3;
    margin: 0 20px;
    padding: 160px 30px 38px;
    border-radius: 1.25rem;
    background: var(--cor-branca);
    text-align: center;
    box-shadow: 0 100% 100% rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    -moz-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
}

.card-login-cadastro {
    overflow: hidden;
    position: relative;
    z-index: 3;
    margin: 0 20px;
    width: 35%;
    padding: 160px 30px 38px;
    border-radius: 1.25rem;
    background: var(--cor-branca);
    text-align: center;
    box-shadow: 0 100% 100% rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    -moz-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
}

.card-login-termos {
    overflow: hidden;
    position: relative;
    z-index: 3;
    margin: 0 20px;
    padding: 160px 30px 38px;
    border-radius: 1.25rem;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    background: var(--cor-branca);
    text-align: center;
    box-shadow: 0 100% 100% rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    -moz-box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
    box-shadow: 0px 0px 15px 1px rgba(84,84,84,0.74);
}

.card-login::before {
    content: "";
    position: absolute;
    background: var(--cor-azul);
    top: -880px;
    left: 50%;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    translate: -50% 0;
}

.card-login-cadastro::before{
    content: "";
    position: absolute;
    background: #ffcf00;
    top: -880px;
    left: 50%;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    translate: -50% 0;
}
.card-login-termos::before{
    content: "";
    position: absolute;
    background: #ffcf00;
    top: -880px;
    left: 50%;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    translate: -50% 0;
}

.card-login .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--cor-branca);
    height: 94px;
    width: 94px;
    top: 10px;
    left: 50%;
    translate: -50% 0;
}

.card-login-cadastro .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--cor-branca);
    height: 94px;
    width: 94px;
    top: 10px;
    left: 50%;
    translate: -50% 0;
}

.card-login-termos .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--cor-branca);
    height: 94px;
    width: 94px;
    top: 10px;
    left: 50%;
    translate: -50% 0;
}

.card-login > h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 10px;
    color: var(--cor-preto);
}

.card-login > p {
    font-size: 16px;
    font-weight:500;
    margin: 0 0 30px;
    color: var(--cor-cinza-escuro);
}

.card-login-cadastro > h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 10px;
    color: var(--cor-preto);
}
.card-login-cadastro > p {
    font-size: 16px;
    font-weight:500;
    margin: 0 0 30px;
    color: var(--cor-cinza-escuro);
}

.card-login-termos > h2 {
    font-size: 160%;
    font-weight: 400;
    margin: 0 0 30px;
    color: var(--cor-preto);
}

/* Começo formulario */
.form-login {
    margin: 0 0 30px;
    display: grid;
    gap: 18px;
}

.form-login-cadastro {
    margin: 0 0 30px;
    width: 100%;
    display: grid;
    gap: 18px;
}

.form-login-termos {
    margin: auto;
    overflow-y: scroll;
    border: solid 1px #c7a200;
    border-radius: 15px 0 0 15px;
    height: 15%;
    max-height: 300px;
    width: 95%;
    font-size: 75%;
    display: grid;
    gap: 18px;
}

.form-login-termos::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.form-login-termos .form-item ::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 10px;
}

.form-login .form-item {
    position: relative;
}

.form-login-cadastro .form-item {
    position: relative;
}

.form-login-termos .form-item {
    position: relative;
}

.form-login .form-item label {
    position: absolute;
    left: 20px;
    top: 15px;
    color: var(--cor-grafite);
    transition: linear 0.2s;
    cursor: text;
}

.form-login-cadastro .form-item label {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 12px;
    color: var(--cor-grafite);
    transition: linear 0.2s;
    cursor: text;
}

.form-login .form-item > input , .form-login > button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.form-login-cadastro .form-item > input , .form-login > button {
    width: 100%;
    height: 30px;
    border-radius: 10px;
}


.form-login .form-item > input {
    border: 2px solid #e0e0e0;
    font-family: inherit;
    font-size: 16px;
    padding: 28px 24px 10px 24px;
    color: var(--cor-preto);
    transition: all 0.375s;
}

.form-login-cadastro .form-item > input {
    border: 2px solid #e0e0e0;
    font-family: inherit;
    font-size: 12px;
    padding: 28px 24px 10px 24px;
    color: var(--cor-preto);
    transition: all 0.375s;
}

.form-login .form-item > input:hover {
    border: 2px solid var(--cor-azul-escuro);
}

.form-login-cadastro .form-item > input:hover {
    border: 2px solid #c7a200;
}

.form-login .form-item > input::placeholder {
    color: var(--cor-cinza-escuro);
}

.form-login-cadastro .form-item > input::placeholder {
    color: var(--cor-cinza-escuro);
}

.form-login > button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background: var(--cor-azul);
    color: var(--cor-branca);
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.form-login-cadastro > button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background: #ffcf00;
    color: var(--cor-branca);
    border: 0;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}


.form-login > button:hover {
    columns: var(--cor-branca);
    background: var(--cor-azul-escuro);
}

.form-login-cadastro > button:hover {
    columns: var(--cor-branca);
    background: #c7a200;
}


/* Password Flutter */
.form-login > .form-item > i{
    font-size: 20px;
    cursor: pointer;
    right: 5%;
    position: absolute;
    top: 10px;
    color: var(--cor-grafite);
}

.form-login-cadastro > .form-item > i{
    font-size: 20px;
    cursor: pointer;
    right: 5%;
    position: absolute;
    top: 10px;
    color: var(--cor-grafite);
}

/* Fim formulario */

.card-login > #footer-login {
    color: var(--cor-grafite);
}
.card-login-cadastro > #footer-login {
    color: var(--cor-grafite);
}

.card-login-termos > #footer-login {
    color: var(--cor-grafite);
}

.ancora-login {
    color: var(--cor-azul-escuro);
    transition: all 0.375s;
    text-decoration: none;
}

.ancora-login:hover {
    color: var(--cor-azul);
}
/* Fim card login */
/* ########################### FIM LOGIN ############################ */


/* ########################## COMEÇO SOBRE NÓS ############################## */
.dividir{
    display:flex;
     justify-content: space-around; 
    margin-top:20px;
    padding: 0px 70px 0px 70px;
}
.margin_titulo{
    margin-top: 95px;
}
.texto_titulo{
    margin:0 auto;
    width:90%;
    font-size:20px;
}
.texto_h6{
    margin:2px; 
    padding:70px 70px 0px 70px;
}
.tamanho_l_sobre {
    width: 265px;
}
.imagem_sobre{
    width: 500px;
    margin: 50px;
    border-radius: 15px;
}
/*  ################## FIM SOBRE NÓS ################################ */




/* ########################### COMEÇO FOOTER ########################### */

/* Flexbox do footer */
.flex{
    display: flex;
}

.flex-sa{
    display: flex;
    justify-content: space-around;
}

.flex-end{
    display: flex;
    justify-content: end;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}
/* Fim do Flexbox */

.cor_footer{
    background-color: #e2e1e1;
}

/* Tamanhos do footer */
.w15{
    width: 15%;
}

.w25{
    width: 25%;
}

.w30{
    width: 30%;
}

.w30text{
    width: 30%;
}

.w33{
    width: 33%;
}

.w45{
    width: 45%;
}

.w100{
    width: 100%;
}
/* Fim dos Tamanhos */

/* Formulario */
.text_fp{
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
    white-space: nowrap;
    margin: 10px 0 0 0;
}

.input_oferta{
    width: 75%;
    height: 50px;
}

.botao_form{
    width: 130px;
    height: 50px;
}
/* Fim do Formulario */

/* Mapa do Site */
#telefone span{
    white-space: nowrap;
}

.map_text{
    font-weight: bold;
    white-space: nowrap;
}

.map_linha{
    border: 2px solid #002fff;
    width: 100px;
    margin: 0 auto;
}

.map_link{
    text-decoration: none;
    font-weight: bold;
    color: #407ff5;
}

.map_contato{
    width: 150px;
    font-weight: bold;
    color: #407ff5;
}

.map_link:hover{
    color: #07eeff;
}

.logo_footer{
    margin-top: 35px;
    width: 80%;
}

.img_pag{
    max-width: 42px;
    margin: 10px 10px;
}

.logo_div{
    width: 100px;
}
/* Fim do Mapa do Site */


/* Botão Redes Sociais */

.icon-btn {
    width: 50px;
    height: 80px;
    border: 1px solid #cdcdcd;
    background:  #0275d8;
    border-radius: 25px;
    overflow: hidden;
    position: fixed;
    left: 15px;
    bottom: 10px;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
    z-index: 1000;
}
  
.add-btn:hover {
    width: 230px;
}
  
.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: rgb(246, 246, 246);
}
  
.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
  
.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
  
.icon-btn:focus {
    outline: none;
}
  
.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
}
  
.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}
  
.add-btn:hover .btn-txt {
  opacity: 1;
}
  
.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: rgb(248, 248, 248);
    overflow: hidden;
}
  
.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
  
.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
  
.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}
  
.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}
/* Fim Redes Sociais */
/* ########################### FIM FOOTER ############################## */


/* ########################   COMEÇO SCROLL   ############################ */

/* Quadrado do Scroll */
.quadradinhodasetinha{
    position: fixed;
    background-color: #0275d8;
    color: azure;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    bottom: 25px;
    right: 20px;
    align-items: center;
    transition: 0.2s ease-in;
    z-index: 999;
 }

 .quadradinhodasetinha:hover{
    position: fixed;
    background-color: #6ad5f0;
    color: #ffffff;
    box-shadow: 0px -1px 21px -3px rgb(144, 173, 199);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;  
    justify-content: center;
    bottom: 25px;
    right: 20px;
    align-items: center;
    transition: 0.2s ease-in;
    z-index: 999;
 }
 /* Fim Quadrado Scroll */
/* ###########################  FIM SCROLL ############################### */


/* ########################### COMEÇO INDEX ############################## */

.img-pontos{
    display: flex;
}

.img-ponto{
    width: 60%;
    height: 405px;
    margin: 10px 20px;
    border-radius: 15px;
    -webkit-box-shadow: 4px 16px 3px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
}

.subimg-turistico{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-turistico {
    height: 20%;
    width: 100%;
    border: unset;
    margin: 10px 20px;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    cursor: pointer;
}

.img-turistico::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #c0ddff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.img-turistico:hover{
    color: #1500ff;
}

.img-turistico:hover::before {
    width: 100%;
}

/* ########################### FIM INDEX ############################## */


/* ###########################  COMEÇO QUARTOS ########################## */

/* Card dos Quartos */
.card_quarto{
    background-color: #74baf8;
    max-width: 50ch;
    text-align: center;
    padding: 1.5em;
    padding-block: 0.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 40px 55px;
    box-shadow: 0px 0px 10px -5px rgb(5, 0, 5);
}
  
.card__corpo {
    color: #f8f8f8;
    line-height: 1.5em;
    font-size: 1em;
}

.card_quarto strong{
    color: #f8f8f8;
    line-height: 1.5em;
    font-size: 1em;
}

.card_quarto p{
    color: #f8f8f8;
    line-height: 1.5em;
    font-size: 1em;
}

.preco_quarto{
    color: #f8f8f8;
    font-weight: bold;
}

.icon_quarto{
    width: 100%;
    height: 230px;
}

.icon_quarto img{
    width: 100%;
    height: 230px;
}
    
.card_quarto > strong {
    display: block;
    font-size: 1.4rem;
    letter-spacing: -.035em;
}
  
.card_quarto span{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    top: 100%;
}

.card_quarto a{
    text-decoration: none;
    color: rgb(249, 249, 250);
    font-size: 14px;
}

.icones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
 }

 .icone p{
    margin: 0;
 }
 
 .icone:hover .sub-texto {
    display: block;
 }
 
.sub-texto{
    display: none;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1a3282;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 120px;
    box-shadow: 2px 2px 6px rgba(1, 60, 254, 0.3);
 }

.my-button {
    background-color: rgb(94, 84, 236);
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
  }
  
  .my-button:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  .my-button:hover:after {
    animation: ripple_401 1s ease-out;
  }
  
  @keyframes ripple_401 {
    0% {
      width: 5px;
      height: 5px;
      opacity: 1;
    }
  
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
}
/* Fim do Card */

/* ###########################  FIM QUARTOS ########################## */



/* ########################### COMEÇO DETALHES ############################ */
/* Foto Quarto Principal */
#img_principal{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 50px;
}

.imagem-grande{
    height: 480px;
    border-radius: 20px;
    box-shadow: -1px 0px 10px 1px rgba(0,0,0,0.75);
}
/* Fim Quarto Principal */

/* Icone (Responsivo "None") */
.icones_detalhes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.icones_detalhes i {
    margin-right: 10px;
}

.icones_detalhes .texto_del {
    font-size: 20px;
}

.linha_icon{
    width: 50%;
    display: flex;
    align-items: center;
} 
/* Fim Icone (Responsivo "None") */

/* Icones */
.icones_del{
    display: flex;
    justify-content: center;
}

.icons_del {
    margin-bottom: 10px;
}

.icons_del i {
    margin-right: 10px;
}

.icons_del .texto_del {
    font-size: 20px;
}
/* Fim Icones */

/* Titulo, Preço, Botão */
.text-detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text-detail p{
    font-size: 40px;
    margin: 0;
}

#titulo{
    margin: 0;
    font-weight: bold;
    font-size: 40pt;
}

.botao_del{
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #1875FF;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
}
   
.botao_del span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
   
.botao_del span:after{
    content: 'agora!';
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.7s;
}
   
.botao_del:hover span{
    padding-right: 3.0em;
}
   
.botao_del:hover span:after{
    opacity: 4;
    right: 0;
}

.preco{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    letter-spacing: -2.4px;
    word-spacing: -2.4px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

#reservar{
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Impact, fantasy';
}
/* Fim Titulo, Preço, Botão */

/* Descrição */
.linha_del{
    border: 1px solid black;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.desc_del{
    width: 90%;
    margin: 0 auto;
}

.desc_del p{
    font-size: 20px;
}
/* Fim Descrição */

/* Sub-Imagens Responsivo "None" */
#esconder_imgs{
    display: none;
}
/* Fim Sub-Imagens Responsivo "None" */

/* Sub-Imagens */
.sub-imgs{
    display: flex;
    justify-content: center;
    width: 50%;
}

.imagem-pequena{
    width: 120px;
    height: 100px;
    cursor: pointer;
    margin: 15px 10px;
    border: 1px solid rgb(0, 173, 253);
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.imagem-pequena:hover{
    transform: scale(1.2);
}
/* Fim Sub-Imagens */

/* Modal */
#datas_modal input[type="date"]{
    background-color: #85b7e9;
    padding: 15px;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
}
#datas_modal ::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

#reserva-pessoas input[type="number"]{
    background-color: #ffffff;
    padding: 5px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 15px;
    width: 50%;
}

.btn-pessoas{
    width: 70%;
    padding: 10px;
    background-color: #85b7e9;
    color: white;
    border: none;
    margin: auto;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn-pessoas:hover{
    background-color: #1855fd;
    border-radius: 30px;
}

 .s-modal .modal-header{
    padding:30px 15px
}

.s-modal .modal-title{
    text-transform: uppercase;
    color: white;
}

.s-modal .modal-header{
    background-color: #0d6efd;
}

.s-modal .list-group-item{
    background-color: #d7e8f7;
}

.s-modal .form-check-input:checked{
    background-color: rgb(233, 233, 75);
}
/* Fim Modal */

/* Destaques */
.img-destaque{
    width: 330px !important;
    height: 230px !important;
    border-radius: 5px;
}
  
#titulo_semelhante{
    width: 90%;
    margin: 0 auto;
}

.card_detalhe{
    --bg: #ffffff;
    --hover-bg: #75a0c8;
    --hover-text: #fdfcfd;
    max-width: 30ch;
    text-align: center;
    background: var(--bg);
    padding: 1.5em;
    padding-block: 0.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 20px 15px;
    box-shadow: 0px 0px 35px -15px rgb(5, 0, 5);
}
  
.card__body {
    color: #464853;
    line-height: 1.5em;
    font-size: 1em;
}
  
.card_detalhe > :not(span) {
    transition: .3s cubic-bezier(.6,.4,0,1);
}
  
.card_detalhe > strong {
    display: block;
    font-size: 1.4rem;
    letter-spacing: -.035em;
}
  
.card_detalhe span{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    font-weight: bold;
    top: 100%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
}

.card_detalhe a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.card_detalhe span:hover{
    color:#ffffff;
    transition: 0.2s all ease;
}
  
.card_detalhe:hover span {
    top: 0;
    font-size: 1.2em;
}
  
.card_detalhe:hover {
    background: var(--hover-bg);
}
  
.card_detalhe:hover>div,.card_detalhe:hover>strong {
    opacity: 0;
}
/* Fim Destaques */
/* ########################### FIM DETALHES ############################## */



/* ########################### COMEÇO HEADER AREA CLIENTE ################ */
ul {
    padding: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon { 
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: var(--cor-branca);
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: var(--cor-branca);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: var(--cor-branca);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: var(--cor-branca);
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: var(--cor-branca);
}

.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: var(--cor-branca);
}

.sidebar .bx-search:hover {
    background: var(--cor-branca);
    color: #11101d;
}

.sidebar li .link {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
}

.sidebar li .link:hover {
    background: var(--cor-branca);
}

.sidebar li .link .links_name {
    color: var(--cor-branca);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li .link .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li .link:hover .links_name,
.sidebar li .link:hover i {
    transition: all 0.2s ease;
    color: #11101D;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details { 
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: var(--cor-branca);
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.home-section {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    color: var(--cor-branca);
    font-size: 25px;
    font-weight: 400;
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}
/* ########################### FIM HEADER AREA CLIENTE ################ */




/* ########################### COMEÇO GERAL CLIENTE ################ */
/* Icones e span dos cards */
.card-icon {
    position: absolute;
    top: -10px;
    right: -65px;
    font-size: 190px;
    overflow: hidden;
    opacity: 0.3;
}

.card-link i {
    transition: all ease 0.4s;

}

.card-link span {
    transition: all ease 0.4s;

}

.card-link:hover i {
    transform: scale(1.4);
}

.card-link:hover span {
    transform: scale(1.1);
}

/* Texto dos cards */
.card-texts {
    color: var(--cor-branca);
    opacity: 0.9 !important;
}
/* ########################### FIM GERAL CLIENTE ################ */




/* ########################### COMEÇO CONFIGURAÇÕES CLIENTE ################ */
.linha-vertical {
    height: 60vh;
    border: 1.5px solid;
    opacity: 0.2;
}
/* ########################### FIM CONFIGURAÇÕES CLIENTE ################ */




/* ########################### COMEÇO PERFIL CLIENTE ################ */
/* Começo área Conta*/
fieldset {
    padding: 15px !important;
    border: 2px solid #00000033 !important;
    border-radius: 5px;
    margin-bottom: 30px !important;
}

legend {
    float: unset !important;
    width: unset !important;
    padding: 0 10px !important;
    width:inherit;
}
/* Começo área Conta*/


/* Começo área Formas de pagamento*/

/* Fim área Formas de pagamento*/
/* ########################### FIM PERFIL CLIENTE ################ */




/* ########################### COMEÇO RESPONSIVO ################ */
/*Começo footer*/
@media screen and (max-width: 1200px){
    #form_oferta .flex{
        display: inline;
    }
    
    .flex-end{
        width: 100%;
        justify-content: center;
    }
    
    .input_oferta{
        width: 100%;
    }
    
    .w30{
        width: 90%;
        margin: 10px auto;
    }
    
    .w15{
        margin-top: 25px;
        width: 100%;
    }
    }
    
    @media screen and (max-width: 1000px){
        .flex-sa article{
            display: inline;
        }
    
        .logo_div{
            display: none;
        }

        #endereco{
            margin-bottom: 55px !important;
        }

        #Bloco-1{
            width: 50%;
        }

        #Bloco-2{
            width: 50%;
        }
    }

    @media screen and (max-width: 500px){
        #endereco{
            margin-bottom: 30px !important;
        }
    }
    
    @media screen and (max-width: 423px){
        #mapa_site {
            margin-bottom: 4px !important;
        }

        #mapa{
            padding: 0 !important;
            margin-bottom: 35px;
        }

        #pagamento .map_text{
            white-space: normal;
        }

        #endereco {
            margin-bottom: 50px !important;
            padding: 0 !important;
        }

        .img-bancos{
            flex-wrap: nowrap;
        }
    }

    /*Fim footer*/

    /* Começo Detalhes */
    @media screen and (max-width: 1605px){
        #titulo{
            font-size: 40px;
        }    

        .preco{
            font-size: 30px !important;
        }
    }

    @media screen and (max-width: 1400px){ 
        .text-detail span{
            width: 100% !important;
        }


    }

    @media screen and (max-width: 1200px){
        .imagem-pequena{
            width: 18%;
            height: 80px;
        }

        .sub-imgs{
            width: 55%;
        }

        .imagem-grande{
            width: 100% !important;
            height: 100%;
        }
    }

    @media screen and (max-width: 1000px){
        #geral_del{
            display: inline;
        }

        #img_principal{
            margin: 125px auto 60px auto;
        }

        .imagem-grande{
            min-width: 150% !important;
            height: 135%;
        }

        #reservar{
            margin: 50px 0;
        }

        .text-detail{
            width: 70%;
        }

        #titulo{
            font-size: 30px;
        }    

        #esconder_imgs{
            display: flex;
            flex-wrap: wrap;
            margin: 25px auto;
            width: 90%;
        }

        .imagem-pequena{
            width: 100px;
            height: 100px;
        }

        #sub-normal{
            display: none;
        }

        .text-detail{
            margin: 0 auto;
        }

        .icones_detalhes{
            display: flex;
            margin-top: 15px;
            width: 100%;
            justify-content: center;
        }
        
        .icones_detalhes i {
            margin: 20px 15px 20px 0;
        }

        .linha_icon{
            width: 10%;
            margin: 0;
        }

        .desc_del p{
            font-size: 15px;
        }

        .quadradinhodasetinha{
            display: none;
        }
    }

    @media screen and (max-width: 700px){
        .icones_detalhes{
            width: 100%;
            justify-content: center;
        }
        
        .linha_icon{
            justify-content: center;
            width: 20%;
            margin: 20px 0;
        }
    }
    /* Fim Detalhes */


    /* Começo index */
    @media screen and (max-width: 650px) {
        #servFree {
            display: none !important;
        }
    }

    @media screen and (max-width: 1680px){
        .img-ponto{
            width: 60%;
            height: 280px;
        }

        .subimg-turistico{
            height: 270px;
        }
    }

    @media screen and (max-width: 1120px){
        .img-ponto{
            width: 60%;
            height: 200px;
        }

        .img-turistico{
            height: 34px;
        }

        .subimg-turistico{
            height: 100%;
        }
    }

    @media screen and (max-width: 1000px){
        .img-pontos{
            flex-direction: column-reverse;
        }

        .img-ponto{
            width: 95%;
            height: 100%;
            margin: auto;
        }

        .img-turistico{
            width: 50%;
            height: 45px;
            font-size: 13px;
        }

        .subimg-turistico{
            display: flex;
            flex-wrap: nowrap;
            margin: 0 10px;
        }
    }

    @media screen and (max-width: 856px){
        .img-turistico{
            font-size: 10px;
            text-align: center;
        }
    }

    @media screen and (max-width: 650px){
        .subimg-turistico{
            width: 100% !important;
        }
        .img-pontos{
            display: flex;
            flex-wrap: wrap;
        }

        .txt-1{
            width: 42%;
        }

        .subimg-turistico{
            margin: 0;
            width: 70%;
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width: 556px){
        .txt-1{
            width: 38%;
        }
    }

    /* Fim index */

    /* começo quartos */
    @media (max-width: 550px){
        .img-destaque{
            min-width: 230px;
            height: 200px !important;
        }
    }
    /* Fim quartos */


    /*Começo login*/
    @media (width >=500px){
        .body-login{
            padding: 0;
        }
        .card-login{
            margin: 0;
            width: 360px;
        }
    }
    /*Fim login*/

/* sobre nos */
 /* começo imagem */
@media (width <= 1200px) {
 
    .dividir{   
        display: inline-block; 
        margin: 0%;
    }
    .tamanho_l_sobre {
        display: none;
        margin: 45px;
    }
    .imagem_sobre{
    width: 350px;
    margin: 20px;
    border-radius: 15px;
    }
    .textmg{
        margin-top: 30px;
    }
}
@media (width <= 999px) {
    .dividir{   
        display: inline-block; 
        margin: 0%;
    }
    .tamanho_l_sobre {
        display: none;
      margin: 45px;
    }
    .imagem_sobre{
    width: 550px;
    margin: 20px;
    }
    .inline{
        flex-direction: column;
        align-items: center ;
    }
}

@media (width <= 800px) {
    .dividir{   
        display: inline-block; 
        margin: 0%;
    }
    .tamanho_l_sobre {
        display: none;
      margin: 45px;
    }
    .imagem_sobre{
    width: 600px;
    margin: 0%;
    }
    .inline{
        flex-direction: column;
        align-items: center ;
    }

}  
@media (width <= 770px) {

    .imagem_sobre{
    width: 450px;
    }
    .texto_h6{
        padding: 0;
        margin-top: 20px;
    }

} 
@media (width <= 570px) { 
 
    .dividir{   
        display: inline-block; 
        margin: 0%;
    }
    .tamanho_l_sobre {
        display: none;
        margin: 45px;
    }
    .imagem_sobre{
    width: 350px;
    margin: 20px;
    }
    .inline{
        flex-direction: column;
        align-items: center ;
    }
    .textmg{
        margin: 0;
    }
}
@media (width <= 410px) { 
 
    .dividir{   
        display: inline-block; 
        margin: 0%;
    }
    .tamanho_l_sobre {
        display: none;
        margin: 45px;
    }
    .imagem_sobre{
    width: 250px;
    margin: 20px;
    border-radius: 15px;
    }
    .inline{
        flex-direction: column;
        align-items: center ;
    }
}
    /* fim imagem */
    /* começo botão redes sociais */
    @media (width <= 410px){
        .add-btn{
            margin-left: -15px !important;
        }
        .add-btn:hover {
            width: 260px !important;
        }
        .quadradinhodasetinha{
            display: none;
        }
        .oferta-icon{
            display: none !important;
        }
    }
    /* fim botao redes sociais */


    /* ########################### FIM RESPONSIVO ###################*/